
body{
  font-family: "Montserrat";
}
h1,h3{
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-size: 5px;
  text-align: center;
  font-family:'Ubuntu', sans-serif ;
}
h5{
  color: white;
}
p{
  color: gray;
}
.big-heading{
  padding: 10%;

}
.mypic{
  padding:40px;
  border-radius: 100%;
  position:absolute;
}


.but{
padding:10% 30%;
}
.navbar-brand{
  padding-left: 100px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: bold;

}
.collapse {
  margin-left: 400px;
}
.nav-item{
  padding: 0 20px 0 20px;
}
#title {
  background-color: #101415;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}


.feature-box{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-align: center;
}
.icon1{
  color: black;
}
.icon2{
  color: green;
}
.icon3{
  color: gold;
}
/*Education*/
#education{
  background-color: #101415;
  padding: 7% 15%;
}
.d-block{
  margin:10px 50px 10px 50px;
}
.school-img{
height: 300px;
}
.info{
  padding: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}
/*Skills*/
#skills{
padding: 7% 15%;
}
.skills{
  font-family: 'Ubuntu',sans-serif;
  font-weight: bold;
  text-align: center;
}
.heads{

  color: indigo;
  text-align: center;
  font-family: 'Montserrat', sans-serif ;
  padding-bottom:40px;
}

.pic3{
  color:red;
}
.pic5{
color: orange;
}
.pic6{
  color:blue;
}
/*Contact Details*/
#contact{
  background-color: #101415;
  padding: 4% 0 0 0;
}
.foot{
  text-align: center;
}
.fab{
  text-decoration: none;
  padding:10px;
}
.fa-facebook-f{
  color: blue;
}
.fa-linkedin-in{
  color: blue;
}
.fa-instagram{
  color: brown;
}

.copyright{
  padding: 10px 0 10px 0;
  color: white;
}
@media (max-width:1200px) {
  .nav-brand{
  font-size:90px;
  }
  #title{
    text-align: center;
  }
  .but{
    padding:0 30%;
  }
  .mypic{
    position:static;
  }
}
